:root {
    --main-color: hsl(179, 62%, 43%);
    --secondary-color: hsl(71, 73%, 54%);
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Karla', sans-serif;
}

body {
    background-color: hsl(204, 43%, 93%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}



/* start single */
.single {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 100%;

}

@media(max-width:767px) {
    .single {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        padding-top: 100px;
        padding-bottom: 100px;
        margin-left: auto;
    margin-right: auto;
    }
}

/* end single */
/* start header */
header {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    max-width: 100%;
    border-radius: 10px 10px 0 0;
    width: 700px;
    grid-area: 1/1/2/3;
}

header h1 {
    color: var(--main-color);
    font-size: 30px;
}

header h2 {
    margin-top: 30px;
    color: var(--secondary-color);
    font-size: 20px;
    margin-bottom: 20px;
}

header p {
    color: hsl(218, 22%, 67%);
    line-height: 1.5;
    font-size: 1.1rem;
}

@media(max-width:767px) {
    header {
        width: 350px;
        padding: 30px;
    }

    header h1 {
        font-size: 23px;
    }

    header h2 {
        font-size: 17px;
    }

    header p {
        font-size: 0.9rem;
    }
}

/* end header */
/* start sidebar */
.sidebar {
    width: 350px;
    height: 260px;
    padding: 40px;
    background-color: var(--main-color);
    border-radius: 0 0 0 10px;
    max-width: 100%;
    grid-area: 2/1;
}

.sidebar h3 {
    color: white;
    font-size: 22px;
}

.sidebar p:nth-child(2) {
    margin-top: 30px;
    color: hsl(219, 26%, 83%);
    max-width: 100%;

}

.sidebar span {
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin-right: 10px;
    max-width: 100%;
}

.sidebar p:nth-child(3) {
    color: hsl(204, 43%, 93%);
    margin-top: 8px;
    max-width: 100%;
}

.sidebar button {
    background-color: var(--secondary-color);
    width: 240px;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    box-shadow: 0 8px 8px -10px rgb(53, 45, 45);
    max-width: 100%;
}

.sidebar button a {
    color: white;
    font-weight: 700;
    text-decoration: none;
}

@media(max-width:767px) {
    .sidebar {
        padding: 30px;
        border-radius: 0;
    }

    .sidebar button {
        width: 100%;
        height: 55px;
        margin-top: 40px;
    }
}
/* end sidebar */

/* start content */
.content {
    width: 350px;
    height: 260px;
    padding: 40px;
    background-color: #4abebd;
    border-radius: 0 0 10px 0;
    max-width: 100%;
    grid-area: 2/2;
}

.content h3 {
    color: white;
    font-size: 22px;
}

.content ul {
    margin-top: 20px;
    color: hsl(204, 43%, 93%);
    list-style: none;

}

@media(max-width:767px) {
    .content {
        padding: 30px;
        grid-column: 1;
        grid-row: 3;
        border-radius: 0 0 10px 10px;
    }

    .content ul {
        font-size: 15px;
        line-height: 1.4;
    }
}

/* end content */